#blog h3 {
text-align:  center;
}



#blog .contenedor {
display: flex;/**las imagnes en una sola linea*/
justify-content: center;
flex-wrap: wrap;/*los elementos uno debajo de otro*/

}
#blog article {
	margin: 15px;
}

#blog img {
	widows: 100%;
	max-width:  280px;
}